.spuzzle, .subtable {
   border-collapse: collapse;
}

.spuzzle td {
   border: 5px outset gray;

}

.spuzzle th {
   font-size: 8px;
   color: gray;
}
.spuzzle tbody th {

   height: 40px;
}

.subTable td {
   font-size: 20px;
   color: blue;
   width: 40px;
   height: 40px;
   text-align: center;
   vertical-align: middle;
   border: 1px solid black;
}

.goldBox td {
   background-image: url("gold.jpg");
   background-position: 50% 50%;
   z-index: -1;
}
.greenBox td {
   background-image: url("green.jpg");
   background-position: 50% 50%;
   z-index: -1;
}