<!DOCTYPE html>
<html lang="en" data-ng-app="studentsApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <title>Students App</title>
</head>
<body data-ng-controller="studentController">
<form id="Form" name="Form" method="post" data-ng-submit="addNewStudent()">
    <p id = p1>
        <label>First Name: <input type="text" id="firstName" data-ng-model="firstName"/></label>
    </p>

    <p>
        <label>Last Name: <input type="text" id="lastName" data-ng-model="lastName"/></label>
    </p>

    <p>
        <label>Student Id: <input type="text"  id="studentId" data-ng-model="studentId"/> </label>
    </p>

    <p>
        <input type="submit" id="submit" value="Submit"/>
    </p>
</form>


<ul>
    <li data-ng-mouseover="showDiv()" data-ng-mouseout="hideDiv()" data-ng-repeat="student in students">{{student.fName}}&nbsp{{student.lName}}&nbsp{{student.stuId}} </li>
</ul>

<div id="newDiv" data-ng-show="toShow">

    <p>{{students}}</p>

</div>


</body>

</html>