<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>

</head>
<body ng-app="labFour">
<div id="json"></div>

<div id="trigger" ng-controller="studentController">

    <form ng-submit="createStudent()">
        <label for="sId">Student ID</label>
        <input type="text" id="sId" ng-model="newID"/><br/>
        <label for="fName">First Name</label>
        <input type="text" id="fName" ng-model="newFname"/><br/>
        <label for="lName" ng-model="newLname">Last Name</label>
        <input type="text" id="lName"/>
        <input type="submit" value="Create" class="btn-primary" />
    </form>

    <ul id="list">
        <li ng-repeat="student in students">
            {{student.text}}
        </li>
    </ul>


</div>
</body>
<footer>
    <script type="text/javascript" src="app.js"></script>
</footer>
</html>